In [1]:
import pandas as pd

1.  Develop model(s) that predict patientâ€™s probability of no-show and outline your approach

In [7]:
appointment_data = pd.read_csv('../data/Medical_No_Shows.csv')

In [9]:
appointment_data.head(10)

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,LocationID,MedicaidIND,Hypertension,Diabetes,Alcoholism,Disability,SMS_received,No-show
0,#29872499824296,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,40,0,1,0,0,0,0,No
1,#558997776694438,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,40,0,0,0,0,0,0,No
2,#4262962299951,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,47,0,0,0,0,0,0,No
3,#867951213174,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,55,0,0,0,0,0,0,No
4,#8841186448183,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,40,0,1,1,0,0,0,No
5,#95985133231274,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,59,0,1,0,0,0,0,No
6,#733688164476661,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,26,0,0,0,0,0,0,Yes
7,#3449833394123,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,26,0,0,0,0,0,0,Yes
8,#56394729949972,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,2,0,0,0,0,0,0,No
9,#78124564369297,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,13,0,0,0,0,0,0,No